
<ng-container *ngIf="display === 1">
    <div class="members__view-toggle">
        <button class="members__sort-view-icon" (click)="send()"></button>
        <input class="members__search-bar" name="searchInput" type="text" [(ngModel)]="searchInput" size="50">
        <button class="members__grid-view-icon" value="2" (click)="changeDisplay(2)"></button>  
    </div>

    <ng-container *ngIf="searchInput === ''">
        <div class="members" *ngFor="let user of results; let i=index">
            <div class="members__member-cards">
                <p class="members__name">{{user.name.first}} {{user.name?.last}}</p>
                <img class="members__image" src={{user.picture.large}}/>
                <p class="members__city">{{user.location?.city}}</p>
                <div class="members__contact-info">
                    <button class="members__email-icon"></button>
                    <button class="members__call-icon"></button>
                </div> 
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="searchInput !== ''">
        <div class="members" *ngFor="let user of results | search: searchInput; let i=index">
            <div class="members__member-cards">
                <p class="members__name">{{user.name.first}} {{user.name.last}}</p>
                <img class="members__image" src={{user.picture.large}}/>
                <p class="members__city">{{user.location.city}}</p>
                <div class="members__contact-info">
                    <button class="members__email-icon"></button>
                    <button class="members__call-icon"></button>
                </div> 
            </div>
        </div>
    </ng-container>
    
</ng-container>

<ng-container *ngIf="display === 2">
    <div class="members__view-toggle">
        <button class="members__sort-view-icon" (click)="send()"></button>
        <input class="members__search-bar" name="searchInput" type="text" [(ngModel)]="searchInput" size="50">
            <button class="members__list-view-icon" value="1" (click)="changeDisplay(1)"></button>  
    </div>
    <ng-container *ngIf="searchInput === ''">
        <div class="members" *ngFor="let user of results; let i=index">
            <div class="members__member-cards">
                <p class="members__name">{{user.name.first}} {{user.name.last}}</p>
                <img class="members__image" src={{user.picture.large}}/>
                <p class="members__city">{{user.location.city}}</p>
                <div class="members__contact-info">
                    <button class="members__email-icon"></button>
                    <button class="members__call-icon"></button>
                </div> 
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="searchInput !== ''">
        <div class="members" *ngFor="let user of results | search: searchInput; let i=index">
            <div class="members__member-cards">
                <p class="members__name">{{user.name.first}} {{user.name.last}}</p>
                <img class="members__image" src={{user.picture.large}}/>
                <p class="members__city">{{user.location.city}}</p>
                <div class="members__contact-info">
                    <button class="members__email-icon"></button>
                    <button class="members__call-icon"></button>
                </div> 
            </div>
        </div>
    </ng-container>
</ng-container>
