:host .search-and-filter {
  display: flex;
  padding-bottom: 25px;
  align-items: center;

  &__search-bar {
    background: url("../../../assets/icons/search-bar.svg") no-repeat 7px;
    border: none;
    outline: none;
    width: 300px;
    height: 34px;
    padding: 0 0 5px 36px;
  }

  &__sort-view-icon,
  &__list-view-icon,
  &__grid-view-icon {
    border: none;
    width: 25px;
    height: 25px;
  }

  &__sort-view-icon {
    background: url("../../../assets/icons/sorting-icon.svg") no-repeat;
    padding-right: 30px;
  }

  &__list-view-icon {
    background: url("../../../assets/icons/list-view.svg") no-repeat;
    margin-left: 350px;
  }

  &__grid-view-icon {
    background: url("../../../assets/icons/grid-view.svg") no-repeat;
    margin-left: 350px;
  }
}
