html {
    background-color: var(--main-bg-color);
}

h1, h2, p, div {
    padding: 0;
    margin: 0;
}

:root{
    --main-bg-color: #EBE9E4;
    --sage-green-card-color: #A7B8A8;
    --light-pink-card-color: #E3D5C9;
    --light-orange-card-color: #E7CDAB;
    --white-card-color: #ffffff;
}
